student manegment/__pycache__/save_load.cpython-313.pyc
student manegment/__pycache__/save_load.cpython-313.pyc
student manegment/__pycache__/show_menu.cpython-313.pyc
student manegment/__pycache__/utils.cpython-313.pyc
